@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
{
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url(Hr.png);
}
h2
{
    position: absolute;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke: 0.4vw #2343de;
    text-transform: uppercase;
    top: -40px;
}
h2::before
{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #01fe87;
    -webkit-text-stroke:0.3vw #a6de23; 
    
     border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite; 

}
@keyframes animate
{
    0%,10%,100%
    {
       width:0;
    }
    70%,90%
    {
        width:100%;
    }
}
.container4
{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    top: 300px;
}
.container4 .card
{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 45px;
    overflow: hidden;
}
.container4 .card .imgBx3 ,
.container4 .card .contentBx
{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
}
.container4 .card .imgBx3 img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container4 .card .contentBx::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(back.png);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;

}
.container4 .card:hover .contentBx::before
{
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}
.container4 .card .contentBx
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4 .card .contentBx .content 
{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}
.container4 .card:hover .contentBx .content 
{
    transform: translateX(0px);
    transition-delay: 0.5s;
}
.container4 .card .contentBx .content h3
{   color: #4f0303;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.container4 .card .contentBx .content p
{   color: rgb(202, 37, 25);
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
}
footer
{   position: relative;
    padding-left: 40px;
    background: #fff38e;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 2px solid black;
    top:400px;
}
footer .container5
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container5 .sec
{
    margin-right: 30px;
}
footer .container5 .sec.aboutus
{
    width:40% ;
}
footer .container5 .sec.aboutus h4
{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin-bottom: 15px;
    font-size: 20px;
}
footer .container5 h4:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p
{
   color: #999; 
}
.sci4
{
    margin-top:20px ;
    display: flex ;
}
.sci4 li
{
   list-style: none; 
}
.sci4 li a 
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgb(98, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci4 li a:hover
{
    background: rgb(255, 255, 255);
}
.quickLinks
{
    position: relative;
    width: 25%;
}
.quickLinks ul li 
{
  list-style: none;  
}
.quickLinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover
{
    color: #fff;
}
.contact
{
    width: calc(35% - 60px);
    margin-right: 0  !important;
}
.contact .info3
{
    position: relative;
}
.contact .info3 li
{
   display: flex;
   margin-bottom: 16px; 
}
.contact .info3 li span:nth-child(1) 
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info3 li span
{
    color: #999;

}
.contact .info3 li a
{
    color:#999;
    text-decoration: none;

}
.contact .info3 li a:hover 
{
    color: #fff;
}
.copyrightText
{
    width: 100%;
    background: #095a55;
    padding: 8px 100px;
    text-align: center;
    color: #999;
    top: 1100px;
}
@media (max-width:991px)
{
    footer 
    {
        padding: 40px;
    }
    footer .container5
    {
        flex-direction: column;
    }
    footer .container5 .sec 
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
}