@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
section2 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #095a55;
    font-family: 'Courgette', cursive;
}
section2::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff38e;
}
.container2
{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}
.container2 .contactInfo 
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #095a55;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);
}
.container2 .contactInfo h2
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.container2 .contactInfo ul.info 
{
    position: relative;
    margin: 20px 0;
    list-style: none;
}
.container2 .contactInfo ul.info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
.container2 .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}
.container2 .contactInfo ul.info li span:nth-child(1) img

{
    max-width: 100%;
    filter: invert(1);
}
.container2 .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}
.container2 .contactInfo ul.sci2
{
    position: relative;
    display: flex;
}
.container2 .contactInfo ul.sci2 li
{
    list-style: none;
    margin-right: 15px;
}
.container2 .contactInfo ul.sci2 li a
{
    text-decoration: none;
}
.container2 .contactInfo ul.sci2 li a img 
{
    filter: invert(1);
}
.container2 .contactForm 
{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: rgb(235, 238, 157);
    box-shadow: 20px 25px 20px 25px rgba(0,0,0,0.25);
}
.container2 .contactForm h2{
    color: #0f3959;
    font-size: 24px;
    font-weight: 500;
}
.container2 .contactForm .formBox 
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container2 .contactForm .formBox .inputBox 
{
    position: relative;
    margin-bottom: 35px;
}
.container2 .contactForm .formBox .inputBox.w50
{
    width: 47%;
}
.container2 .contactForm .formBox .inputBox.w100
{
    width: 100%;
}
.container2 .contactForm .formBox .inputBox input,
.container2 .contactForm .formBox .inputBox textarea
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px ;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}
.container2 .contactForm .formBox .inputBox textarea
{
    height: 120px;
}
.container2 .contactForm .formBox .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container2 .contactForm .formBox .inputBox input:focus ~ span,
.container2 .contactForm .formBox .inputBox input:valid ~ span,
.container2 .contactForm .formBox .inputBox textarea:focus ~ span,
.container2 .contactForm .formBox .inputBox textarea:valid ~ span 
{
    transform:translateY(-20px);
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 1px;
    color:#095a55;
    font-weight: 500;
}
.container2 .contactForm .formBox .inputBox input[type="submit"]
{
    position: relative;
    cursor:pointer;
    background: #095a55;
    color: #fff;
    border: none;
    max-width: 150px;
    padding: 12px;

}
.container2 .contactForm .formBox .inputBox input[type="submit"]:hover
{
    background: #0d948b;
}
/* Now it is going to be responsive */
@media (max-width:1200px)
{
    .container2
    {
        width: 90%;
        min-width: auto;
        margin: 20px;
        box-shadow: 20px 20px 20px 20px rgba(0,0,0,0.2);
    }
    .container2 .contactInfo
    {
        top: 0;
        height: 500px;
        position: relative;
        box-shadow: none;
    }
    .container2 .contactForm
    {
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;

    }
}
@media(max-width:991px)
{
    section2
    {
        background: #fff38e;

    }
    section2::before
    {
        display: none;
    }
    .container2
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .container2 .contactForm
    {
        width: 100%;
        height: auto;
    }
    .container2 .contactInfo
    {
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container2 .contactInfo ul.sci2 
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:991px)
{
    .container2 .contactForm
    {
        padding: 25px;
    }
    .container2 .contactInfo
    {
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;

    }
    .container2 .contactInfo ul.sci2 
    {
        margin-top: 40px;
    }
    .container2 .contactForm .formBox .inputBox.w50 
    {
        width: 100%;
    }
}
body
{
    display: inline;
    justify-content: center;
    align-items:center;
    min-width: 100vh;
    flex-direction: column;
    
}
footer
{   position: relative;
    padding-left: 40px;
    background: #fff38e;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 2px solid black;
}
footer .container5
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container5 .sec
{
    margin-right: 30px;
}
footer .container5 .sec.aboutus
{
    width:40% ;
}
footer .container5  h2
{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container5 h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer  p
{
   color: #999; 
}
.sci4
{
    margin-top:20px ;
    display: flex ;
}
.sci4 li
{
   list-style: none; 
}
.sci4 li a 
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgb(98, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci4 li a:hover
{
    background: rgb(255, 255, 255);
}
.quickLinks
{
    position: relative;
    width: 25%;
}
.quickLinks ul li 
{
  list-style: none;  
}
.quickLinks ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.quickLinks ul li a:hover
{
    color: #fff;
}
.contact
{
    width: calc(35% - 60px);
    margin-right: 0  !important;
}
.contact .info3
{
    position: relative;
}
.contact .info3 li
{
   display: flex;
   margin-bottom: 16px; 
}
.contact .info3 li span:nth-child(1) 
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info3 li span
{
    color: #999;

}
.contact .info3 li a
{
    color:#999;
    text-decoration: none;

}
.contact .info3 li a:hover 
{
    color: #fff;
}
.copyrightText
{
    width: 100%;
    background: #095a55;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}
@media (max-width:991px)
{
    footer 
    {
        padding: 40px;
    }
    footer .container5
    {
        flex-direction: column;
    }
    footer .container5 .sec 
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
}
